.t-wrapper{
  padding: 0 3rem 0 3rem;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.t-heading{
  align-self: center;
  margin-top: -20px;
  

}

.t-heading>* {
  font-size: 2rem;
  font-weight: bold;
  color: red;
}

.t-heading span:nth-of-type(2){
  color: red;
}

.testimonials {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
padding: 2rem;
width: 30rem;
height: 19rem;
background: rgba(255, 255, 255, 0.26);
border: 7px solid blue;
box-shadow: red;
border-radius: 20px;

}

.testimonials>img{
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.testimonials>span{
  color: black

}

/* slider */
.t-wrapper .swiper {
  width: 100%;
  height: 70%;
}

.t-wrapper .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active{
  background: red;
}


@media screen and (max-width: 480px) {
 
    .t-wrapper{
      margin-top: -10%;
      width: 470px;
      margin-left: -49px;

    }
    
    }